{% extends 'base.html' %}
{% load static %}
{% load referendum_extras %}

{% block main_title %}
    Première application française d'organisation de <br>
    Référendum d'Initiative Citoyenne
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6 col-md-12 mt-1 mb-2">
            {% if last_result %}
                {% with last_result as referendum %}
                    {% include 'referendum/snippets/index_elements/last_result_card.html' %}
                {% endwith %}
            {% endif %}
        </div>
        <div class="col-lg-6 col-md-12 mt-1 mb-2">
            {% for referendum in voted_soon %}
                {% if forloop.first %}
                    {% include 'referendum/snippets/index_elements/next_vote_card.html' %}
                {% endif %}
                {% if not forloop.first %}
                    {% include 'referendum/snippets/index_elements/other_vote_card.html' %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-12 my-2  mt-1 mb-2">
            <h2 class="white-transp-bg text-center bluefr">Derniers Référendums</h2>
            <div class="list-group">
                {% for referendum in referendum_list %}
                    {% include 'referendum/snippets/referendum_list_group_last.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script src="{% static 'custom/js/generic_request.js' %}"></script>
    <script src="{% static 'custom/js/like.js' %}"></script>
{% endblock %}