{% extends 'base.html' %}
{% load referendum_extras %}

{% block main_title %}
    Première application française d'organisation de <br>
    Référendum d'Initiative Citoyenne
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6 col-md-12 my-2">
            <h2 class="white-transp-bg text-center bluefr">Derniers Référendums</h2>
            <div class="list-group">
                {% for referendum in referendum_list %}
                    {% include 'referendum/snippets/referendum_list_group_last.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6 col-md-12 my-2">
            <h2 class=" white-transp-bg text-center greyfr">Journées de votes à venir</h2>
            <div class="list-group">
                {% for referendum in voted_soon %}
                    {% include 'referendum/snippets/referendum_list_group_next_votes.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 my-2">
            <h2 class="white-transp-bg text-center redfr">Derniers résultats</h2>
            <div class="list-group">
                {% for referendum in results_available %}
                    {% include 'referendum/snippets/referendum_list_group_last_results.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}