{% extends 'base.html' %}


{% block main_title %}
    {{ object.title|capfirst }}
{% endblock %}

{% block content %}
    {% if not can_vote and user.is_authenticated and referendum.is_in_progress %}
        <div class="alert white-transp-bg redfr text-center">
            Pour obtenir le droit de vote sur ce référendum rendez-vous sur la page de
            <a href="{% url 'account' user.pk %}">votre compte</a> et ajoutez un pièce d'identité valide.
        </div>
    {% endif %}
    {% if not user.is_authenticated %}
        <div class="alert white-transp-bg redfr text-center">
            Pour pouvoir voter il faut
            <a href="{% url 'login' %}">vous connecter</a> ou en <a href="{% url 'signup' %}">créer un compte</a>
            puis ajouter un pièce d'identité valide sur la page de votre compte.
        </div>
    {% endif %}
    {% if already_voted %}
        <div class="alert white-transp-bg redfr text-center">
            Vous avez déjà voté pour ce référendum !
        </div>
    {% endif %}

    {% if not valid_token and token %}
        <div class="alert white-transp-bg redfr text-center">
            Vous utilisez une adresse url de vote invalide !
        </div>
    {% endif %}
    <div class="jumbotron white-transp-bg">
        <h1 class="display-4 text-center">
            {{ object.question|capfirst }}
        </h1>
        <p class="lead">
            {% for categorie in referendum.categories.all %}
                <a href="{% url 'category' categorie.slug %}"
                   class="badge white-text {% cycle 'bluefr-bg' 'redfr-bg' 'greyfr-bg' 'blue2-bg' 'blue3-bg' %}">
                    {{ categorie }}
                </a>
            {% endfor %}
            <span class="float-right">
            {% include 'referendum/snippets/publication.html' %}
            {% include 'referendum/snippets/event_date.html' %}
                {% include 'referendum/snippets/has_voted.html' %}
        </span>
        </p>
        {% if referendum.is_in_progress and can_vote and valid_token and not already_voted %}
            <hr class="my-4">
            {% include 'referendum/snippets/referendum_form.html' %}
        {% endif %}
        <hr class="my-4">
        <div class="row">
            <p class="col-4 lead redfr font-weight-bold">
                Résultats {% if referendum.is_in_progress %}temporaires{% endif %}:
            </p>
            <p class="col-8 lead text-right">{% include 'referendum/snippets/results.html' %}</p>
        </div>
        <hr class="my-4">
        <p>{{ object.description }}</p>
        <hr class="my-4">
        <div class="lead">
            {% if referendum.get_updatable_fields and referendum.creator == user %}
                <a href="{% url 'referendum_update' referendum.slug %}" class="btn bluefr-bg white-text">Mettre à
                    jour</a>
            {% endif %}
        </div>

    </div>
{% endblock %}