{% extends 'base.html' %}
{% load static %}

{% block main_title %}
    {{ object.title|capfirst }}
{% endblock %}

{% block content %}
    {% include 'referendum/snippets/referendum_vote_errors.html' %}
    <div class="jumbotron white-transp-bg">
        <div class="d-flex justify-content-end" style=" font-size: 2em;">
            {% include 'referendum/snippets/referendum_like_button.html' %}
        </div>
        <h1 class="text-center text-truncate">
            {{ object.question|capfirst }}
        </h1>
        <p class="lead">
            {% for categorie in referendum.categories.all %}
                <a href="{% url 'category' categorie.slug %}"
                   class="badge white-text {% cycle 'bluefr-bg' 'redfr-bg' 'greyfr-bg' 'blue2-bg' 'blue3-bg' %}">
                    {{ categorie }}
                </a>
            {% endfor %}
            <span class="float-md-right">
            {% include 'referendum/snippets/referendum_publication_date.html' %}
            {% include 'referendum/snippets/referendum_event_date.html' %}
            {% include 'referendum/snippets/referendum_has_voted.html' %}
        </span>
        </p>

        {% if referendum.is_in_progress and can_vote and valid_token and not already_voted %}
            <hr class="my-4">
            <div>
                {% include 'referendum/snippets/referendum_generic_form.html' %}
            </div>
        {% endif %}
        {% include 'referendum/snippets/referendum_results_block.html' %}
        <hr class="my-4">
        <p class="description-break text-justify">{{ object.description }}</p>
        <hr class="my-4">
        <div class="lead">
            {% if referendum.get_updatable_fields and referendum.creator == user %}
                <a href="{% url 'referendum_update' referendum.slug %}" class="btn bluefr-bg white-text">Mettre à
                    jour</a>
            {% endif %}
        </div>
    </div>

    {% include 'referendum/snippets/comment_form.html' %}
    {% include 'referendum/snippets/comment_list.html' %}
    {% include 'referendum/snippets/fake_comment.html' %}


{% endblock %}

{% block custom_js %}
    <script src="{% static 'custom/js/generic_request.js' %}"></script>
    <script src="{% static 'custom/js/toggle_hide.js' %}"></script>
    <script src="{% static 'custom/js/like.js' %}"></script>
    <script src="{% static 'custom/js/comment_event_listeners.js' %}"></script>
    <script src="{% static 'custom/js/comment_card_add_event_listener.js' %}"></script>
    <script src="{% static 'custom/js/add_comment.js' %}"></script>
{% endblock %}
