{% extends 'base.html' %}
{% load referendum_extras %}

{% block main_title %}
    {{ title }} {% include 'referendum/snippets/referendum_elements/buttons/referendum_help_button.html' %}
    {% include 'referendum/snippets/referendum_elements/buttons/referendum_add_button.html' %}
{% endblock %}


{% block filter_buttons %}
    {% include 'referendum/snippets/referendum_list_components/referendum_filters.html' %}
{% endblock %}

{% block content %}
    <div class="row my-2">
        <div class="col-lg-12">
            <div class="card white-bg">
                {% for referendum in object_list %}
                    <div class="card-body blue3 py-0 border-bottom">
                        <div class="row">
                            {% include 'referendum/snippets/referendum_list_components/referendum_list_element.html' %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}