{% extends 'base.html' %}
{% load referendum_extras %}

{% block main_title %}
    {{ title }}
{% endblock %}


{% block filter_buttons %}
    {% include 'referendum/snippets/referendum_list_components/referendum_filters.html' %}
{% endblock %}

{% block content %}
    <div class="row my-5">
        <div class="col-lg-12">
            <div class="list-group">
                {% for referendum in object_list %}
                    {% include 'referendum/snippets/referendum_list_element.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}