{% load referendum_extras %}
<div class="card white-bg">
    <div class="card-header">
        <h2 class="text-center bluefr">
            Prochains votes
        </h2>
    </div>
    <div class="card-body blue3">
        <h3 class="card-title text-center text-truncate">
            {% include 'referendum/snippets/referendum_elements/referendum_title_link.html' %}
            <br>
            <small>
                {% include 'referendum/snippets/referendum_elements/referendum_buttons.html' %}
            </small>
        </h3>
        <div class="card-text text-center row">
            {% include 'referendum/snippets/referendum_elements/referendum_vote_informations.html' %}
        </div>
    </div>
</div>