{% load referendum_extras %}

<div class="col-lg-4 col-12 my-1 small text-truncate  text-center text-lg-left">
    {% include 'referendum/snippets/referendum_elements/referendum_title_link.html' %}
</div>
<div class="col-lg-4 col-12 my-1 text-center">
    {% include 'referendum/snippets/referendum_elements/buttons/referendum_buttons.html' %}
</div>
<div class="col-lg-4 col-12 my-1 small">
    <div class="row text-lg-right text-center ">
        {% include 'referendum/snippets/referendum_elements/referendum_vote_informations.html' %}
    </div>
</div>