
html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;

    background-image: url('../../images/ballons.jpg');
    background-size: cover;
}


.content {
    flex: 1 0 auto;
}


.footer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-around;

    box-sizing: border-box;
    height: 50px;
}


h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    .description {
        font-size: .8rem;
    }

    .footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;

        box-sizing: border-box;
        height: 150px;
    }


    table th {
        font-size: .7em;
    }
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1rem;
    }

}

.description-break {
    word-wrap: break-word;
}

a,
a:hover,
a:focus,
a:active {
    color: #4c86c5;
}


a.white-text:hover,
a.white-text:focus,
a.white-text:active {
    color: white;
}

input {
    padding: 0 2px;

    border-width: 0;
    background-color: rgba(145, 163, 173, .5);
}

.redfr {
    color: #ae1a2c !important;
}

.redfr-bg {
    background-color: #ae1a2c !important;
}

.bluefr {
    color: #133086 !important;
}

.bluefr-bg {
    background-color: #133086 !important;
}

.blue2 {
    color: #4c86c5 !important;
}

.blue2-bg {
    background-color: #4c86c5 !important;
}

.blue3 {
    color: #486f91 !important;
}

.blue3-bg {
    background-color: #486f91 !important;
}

.white-bg {
    background-color: white !important;
}

.white-transp-bg {
    background-color: rgba(255, 255, 255, .8) !important;
}

.white-very-transp-bg {
    background-color: rgba(255, 255, 255, .4) !important;
}

.greyfr {
    color: #91a3ad !important;
}

.greyfr-bg {
    background-color: #91a3ad !important;
}

.white-text {
    color: white !important;
}

.badge-med {
    font-size: 1rem;
}


.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%; /* Bottom of button */
    right: 0;
}


.faded-content {
    -webkit-animation: fadein 2s ease-in-out; /* Safari et Chrome */
    -moz-animation: fadein 2s ease-in-out; /* Firefox */
    -o-animation: fadein 2s ease-in-out; /* Opera */
    animation: fadein 2s ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* sur Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* sur Safari et Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* sur Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.card {
    border-radius: 0;
}

.card-header {
    background-color: transparent;
}

.progress {
    height: 35px;

    border-radius: 0;
    background-color: #a9acaf;
}

.icon-btn {
    cursor: pointer;
}

.title-link {
    font-weight: 300;
}


.table {
    table-layout: fixed;
}

.referendum-buttons i {
    font-size: 1.2rem;
}

a.like-btn i span {
    color: rgb(72, 111, 145);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 75%;
    font-weight: 700;
}


.title-with-buttons {
    position: relative;
}

.common-buttons {
    position: absolute;
    top: 0;
    right: 0;
}

.common-buttons .fa {
    font-size: 1.55rem;
}

input.form-control, textarea.form-control, select.form-control, .input-group-text {
    border-radius: 0;
}