
html,
body
{
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;

    background-image: url('../../images/ballons.jpg');
    background-size: cover;
}




.content
{
    flex: 1 0 auto;
}


.footer
{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-around;

    box-sizing: border-box;
    height: 50px;
}

h1
{
    font-size: 2rem;
}

h2
{
    font-size: 1.6rem;
}

@media screen and (max-width: 1024px)
{
    h1
    {
        font-size: 1.3rem;
    }

    h2
    {
        font-size: 1.1rem;
    }

    .description
    {
        font-size: .8rem;
    }

    .footer
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;

        box-sizing: border-box;
        height: 150px;
    }


    table th
    {
        font-size: .7em;
    }
}


.description-break
{
    word-wrap: break-word;
}

a,
a:hover,
a:focus,
a:active
{
    color: #4c86c5;
}


a.white-text:hover,
a.white-text:focus,
a.white-text:active
{
    color: white;
}

input
{
    padding: 0 2px;

    border-width: 0;
    background-color: rgba(145, 163, 173, .5);
}

.redfr
{
    color: #ae1a2c;
}

.redfr-bg
{
    background-color: #ae1a2c;
}

.bluefr
{
    color: #133086;
}

.bluefr-bg
{
    background-color: #133086;
}

.blue2
{
    color: #4c86c5;
}

.blue2-bg
{
    background-color: #4c86c5;
}

.blue3
{
    color: #486f91;
}

.blue3-bg
{
    background-color: #486f91;
}

.white-bg
{
    background-color: white;
}

.white-transp-bg
{
    background-color: rgba(255, 255, 255, .8);
}

.white-very-transp-bg
{
    background-color: rgba(255, 255, 255, .4);
}

.greyfr
{
    color: #91a3ad;
}

.greyfr-bg
{
    background-color: #91a3ad;
}

.white-text
{
    color: white;
}

.badge-med
{
    font-size: 1rem;
}
