<div class="footer white-bg">
    <div class="text-center my-auto">
        <a href="https://www.linkedin.com/in/tom-gabriele-python-addict" target="_blank">Réalisé par Tom Gabrièle</a>
    </div>
    <div class="text-center my-auto">
        <a href="{% url 'contact' %}">Contact</a>
    </div>
    <div class="text-center my-auto">
        <a href="{% url 'legal' %}">Conditions générales</a>
    </div>
    {#    <div class="text-center my-auto">#}
    {#        <a href="/sitemap.xml">Plan du site</a>#}
    {#    </div>#}
</div>