<nav class="navbar navbar-expand-lg navbar-light greyfr-bg">
    <a class="navbar-brand" href="{% url 'index' %}">
        <span class="col-1 white-text bluefr-bg mx-0">R</span>
        <span class="col-1 white-bg mx-0 greyfr">I</span>
        <span class="col-1 white-text redfr-bg mx-0">C</span>
        Libre
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto col-lg-12 col-xl-10">
            {% include 'referendum/snippets/base_navbar_elements/navbar_admin_button.html' %}
            {% include 'referendum/snippets/base_navbar_elements/navbar_home_button.html' %}
            {% include 'referendum/snippets/base_navbar_elements/navbar_referendum_dropdown_button.html' %}
            {% include 'referendum/snippets/base_navbar_elements/navbar_account_dropdown_button.html' %}
        </ul>
    </div>
</nav>