<form action="" method="post">
    {% if form.errors %}
        {% for field in form %}

        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert white-bg redfr alert-dismissible fade show" role="alert">
                <strong>{{ error|escape }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    {% csrf_token %}
    {% for field in form %}

        {% if field.field.widget.input_type == 'checkbox' %}
            <div class="form-group form-check">
                {% for error in field.errors %}
                    <p class="white-bg redfr fade show">
                        <strong>{{ error|escape }}</strong>
                    </p>
                {% endfor %}
                {{ field }}
                <label class="form-check-label" for="{{ field.label_for_id }}">{{ field.label }}</label>
                <small id="{{ field.name }}" class="form-text text-muted">{{ field.help_text }}</small>
            </div>
        {% else %}
            <div class="form-group">
                <label for="{{ field.label_for_id }}">{{ field.label }}</label>
                {{ field }}
                <small id="{{ field.name }}" class="form-text text-muted">{{ field.help_text }}</small>
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn bluefr-bg white-text">Valider</button>
</form>