{% if not can_vote and user.is_authenticated and referendum.is_in_progress %}
    <div class="alert white-transp-bg redfr text-center">
        Pour obtenir le droit de vote sur ce référendum rendez-vous sur la page de
        <a href="{% url 'account' user.pk %}">votre compte</a> et ajoutez un pièce d'identité valide.
    </div>
{% endif %}
{% if not user.is_authenticated %}
    <div class="alert white-transp-bg redfr text-center">
        Pour pouvoir voter il faut
        <a href="{% url 'login' %}">vous connecter</a> ou en <a href="{% url 'signup' %}">créer un compte</a>
        puis ajouter un pièce d'identité valide sur la page de votre compte.
    </div>
{% endif %}
{% if already_voted %}
    <div class="alert white-transp-bg redfr text-center">
        Vous avez déjà voté pour ce référendum !
    </div>
{% endif %}

{% if not valid_token and token %}
    <div class="alert white-transp-bg redfr text-center">
        Vous utilisez une adresse url de vote invalide !
    </div>
{% endif %}