{% load referendum_extras %}

<a href="{{ referendum.get_absolute_url }}" class="list-group-item list-group-item-action white-transp-bg">
    <span class="row">
        <span class="col-6 font-weight-bold {% cycle 'bluefr' 'redfr' 'greyfr' %}">
                        {% include 'referendum/snippets/referendum_like_button.html' %}
            {{ referendum.question|capfirst }}
            {% include 'referendum/snippets/referendum_has_voted.html' %}
        </span>
        <span class="col-6">
        {% include 'referendum/snippets/referendum_publication_date.html' %}
        {% include 'referendum/snippets/referendum_event_date.html' %}

        </span>
    </span>
</a>