<div class="referendum-buttons">
    {% include 'referendum/snippets/referendum_elements/buttons/referendum_like_button.html' %}
    {% include 'referendum/snippets/referendum_elements/buttons/referendum_owner_indicator.html' %}
    {% include 'referendum/snippets/referendum_elements/buttons/referendum_information_button.html' %}
    {% include 'referendum/snippets/referendum_elements/buttons/referendum_edit_button.html' %}
    {% include 'referendum/snippets/referendum_elements/buttons/referendum_stats_button.html' %}
</div>