{% load referendum_extras %}
{% user_has_voted referendum user as has_voted %}
<div class="col-12">
    {% if has_voted %}
        Vous avez voté
        {% if referendum.is_in_progress %}
            <br><span class="redfr">aujourd'hui</span>
        {% else %}
            le <br><span class="redfr">{{ referendum.event_start|date }}</span>
        {% endif %}
    {% else %}
        {% if referendum.is_in_progress %}
            <a tabindex="0"
               class="btn btn-sm redfr-bg white-text"
               href="{% url 'vote_control' referendum.slug %}"
               data-toggle="popover"
               data-trigger="hover"
               data-html="false"
               title="Voter"
               data-content="Cliquez pour accéder à la page de vote.">
                Voter aujourd'hui</a>
        {% elif referendum.is_over %}
            <span class="greyfr">Vote terminé le {{ referendum.event_start|date }}</span>
        {% elif referendum.event_start %}
            Vote le {{ referendum.event_start|date }}
        {% else %}
            <span class="blue2">Vote non planifié</span>
        {% endif %}
    {% endif %}
</div>