{% url 'referendum' referendum.slug as referendum_url %}
{% if request.path == referendum_url %}
    <a class="btn badge greyfr icon-btn"
       href="#description"
       title="Description du référendum {{ referendum.title }}">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        {% if text_button %}Description{% endif %}
    </a>
{% else %}
    <a tabindex="0" class="btn badge greyfr icon-btn"
       data-toggle="popover"
       data-trigger="focus hover"
       title="Informations"
       data-html="true"
       data-placement="top"
       data-content='{% include 'referendum/snippets/referendum_elements/popover_content/referendum_information_tooltip.html' %}'>
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        {% if text_button %}Informations{% endif %}
    </a>
{% endif %}