{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Référendum d'initiative citoyenne</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" sizes="16x16">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}>

    <!-- Custom style -->
    <link rel="stylesheet" href="{% static 'custom/css/theme.css' %}">

    <!-- Include FontAwesome; required for icon display -->
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">

    <!-- Bootstrap js requirements -->
    <script src="{% static 'jquery/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'popper/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
    {{ form.media }}
</head>
<body>
<div class="content mb-5">
    {% block header %}{% include 'referendum/snippets/base_navbar.html' %}{% endblock %}
    <div class="container">
        <h1 class="blue3 white-transp-bg text-center my-4 px-5 pt-5 pb-3 description-break title-with-buttons">
            <div>{% block main_title %}{% endblock %}</div>
            <div class="common-buttons small">
                {% include 'referendum/snippets/referendum_elements/buttons/referendum_help_button.html' %}
                {% include 'referendum/snippets/referendum_elements/buttons/referendum_add_button.html' %}
                {% include 'referendum/snippets/referendum_elements/buttons/referendum_list_button.html' %}
            </div>
        </h1>
        {% include 'messages_snippet.html' %}
        <div class="faded-content">
            {% block filter_buttons %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% block footer %}
    {% include 'referendum/snippets/base_footer.html' %}
{% endblock %}

{% block custom_js %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        });
        $('.popover-dismiss').popover({
            trigger: 'focus'
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script src="{% static 'custom/js/generic_request.js' %}"></script>
    <script src="{% static 'custom/js/like.js' %}"></script>
{% endblock %}

</body>
</html>